# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test

# Build output
bin/
build/
dist/
out/

# Dependency directories
vendor/

# Go modules
go.sum

# IDE/editor specific files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Coverage reports
coverage/
*.coverprofile
*.cov
*.out
